@import 'colors';
form {
    width: 300px;
    .form-group{
        .group-title{
            color: $color-very-dark-violet;
            font-size: 13px;
            font-weight: 500;
        }
        input{
            width: 100%;
            box-sizing: border-box;
            border: 1px solid $color-light-grayish-violet;
            border-radius: 5px;
            height: 30px;
            padding: 2px 5px;
            outline: none;
        }
            input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
        input:focus, input:focus-visible {
            
  border: double 1px transparent;
  border-radius: 6px;
  background-image: linear-gradient(white, white), 
  linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
        }
        .input-error {
            border:1px solid $color-red-error !important;

        }
        .expiration-date {
            display: flex;
            flex-direction: row;
            gap: 5px;;
        }
        .error-msg {
            color: $color-red-error;
            font-size: 12px;
        }
        margin-bottom: 20px;
    }
    .wrap-verification {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    button{
        background-color: $color-very-dark-violet;
        color: $color-white;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
    }
}