@import 'colors';
.card-front {
    position: absolute;
    top: 10%;
    left: calc(350px / 3.5);
    width: 350px;
    .card-front-logo {
        position:absolute;
        top:20px;
        left:20px;
    }
    .card-front-img {
        width: 100%;
    }
    .card-front-name-expiration {
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }
    .card-front-number {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 20px;
        color: $color-white;
        font-size: 23px;
        display: flex;
        gap:10px;
    }
}